@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600&subset=latin,latin-ext');

*{
    font-family: "Source Sans Pro", "Trebuchet MS", sans-serif;
    color: #efefef;
    font-weight: 300;
    font-size: 18px;
}


h1{
    font-weight: 300;
    color: #fff;
    font-size: 45px;
    line-height: 60px;
    margin: 0px;
    padding: 0px;
}

a{
    color: #fff;
    text-decoration: none;
}


/**
 *  BACKGROUND
 */
html{
    display:table;
    height: 100%;
    width: 100%;
    background-color: #006699;
    background-image: url('../img/logo.png');
    background-position: left bottom;
    background-repeat: no-repeat;
}

html, body{
    margin: 0px;
}

body{
    padding-bottom: 150px;
    padding-left: 5px;
    display:table-cell; 
    vertical-align:middle;
}

.container{
    padding-right: 150px;
    max-width: 500px;
    margin: auto;
}

/**
 *  INPUTS AND FORM
 */

input{
    border: none;
    border-radius: 0;
    margin-left: 10px;
    box-shadow: none;
    color: #101010;
    font-size: 18px;
    background: #fff;
    padding: 1px 15px 1px 15px; 
    font-weight: 600;
    -webkit-appearance: caret;
}

input[type=submit]{
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

input[type=url],input[type=text]{
    width: 220px;
}

/**
 *  FOOTER
 */

.footer, .footer *{
    font-size: 13px;
}

.footer{
    position: absolute;
    bottom: 5px;
    right: 5px;
    margin-left: 340px;
    text-align: right;
}

/**
 *  RESULT PAGE
 */

#qrcode{
    float: left; 
    margin-right: 10px;
}

/**
 *  SOCIAL NETWORK ICONS
 */
.socials{
    color: #000 !important;
    position: absolute;
    top: 0px;
    right: 0px;
    min-width: 250px;
    vertical-align: bottom;
    display: table;
    text-align: right;
    background: #fff;
    padding: 5px;
}

#at20mc *{
    color: #666;
}

.socials *{
    color: #000 !important;
    font-size: 13px;
}

/**
 *  RESPONSIVE SETTINGS
 */

@media(max-width: 600px){
    .container{
        padding: 0px;
        width: 100%;
    }
}
@media(max-width: 420px){
    label{
        display: block;
    }
    
    html{
        background-image: none;
    }
    
    body{
        padding-bottom: 0px;
    }

    .footer{
        margin-left: 5px;
    }
    
    .socials{
        display: none;
    }
}

@media(max-height: 400px){
    body{
        display: block;
    }
    
    .socials{
        display: none;
    }
}